<!---
{{ $permalink := .Permalink }}
<div class="row">
<div class="col-8">
 <div class="card">
    <div class="card-image">
        <figure class="image is-3by2">
            {{ with .Params.images }}
            <a href="{{ $permalink }}"><img src="{{ index . 0 }}" alt=""></a>
            {{ end }}
        </figure>
    </div>
    <div class="card-body">
      <h5 class="card-title"><a class="title is-4" href="{{ .Permalink }}">{{ .Title }}</a></h5>
       <span class="heading">{{ .Site.Params.Author }} | <time>{{ .PublishDate.Format "January 2, 2006"}}</time></span>
      <div class="content">
            {{ .Summary }}
        </div>
    </div>
    <div class="card-footer">
      {{ range .Params.categories }}
            <a class="tag is-primary is-radiusless" href="/categories/{{ . | urlize}}">{{ . }}</a>
            {{ end }}
    </div>
  </div>
</div>
</div>--->
 



{{ $permalink := .Permalink }}

<div class="card h-100 mb-2">
    <div class="card-image">
        <figure class="image is-3by2">
            {{ with .Params.images }}
            <a href="{{ $permalink }}"><img src="{{ index . 0 }}" alt="" class="card-img-top img-fluid"></a>
            {{ end }}
        </figure>
    </div>
    <div class="card-content">
        <h5> <a class="title is-4" href="{{ .Permalink }}">{{ .Title }}</a></h5>
        <p class="heading mb-2">{{ .Params.Author }} | <time>{{ .PublishDate.Format "January 2, 2006"}}</time></p>

        <div class="content mb-1">
            {{ .Summary }}
        </div>
         {{- if .Truncated -}}
         <a href='{{ .RelPermalink }}'>&hellip; Read more</a>
         {{- end -}}
        <br>
       
       <div class="tags d-inline-block">
    {{ range .Params.categories }}
   <button class="btn btn-dark  mb-1"> <a class="tag is-primary is-radiusless" href="/categories/{{ . | urlize}}">{{ . }}</a></button>
    {{ end }}
   </div>
</div>
 <div class="card-footer d-inline-block">
    {{ with .Params.tags }}
  <br>
  <p class="ml-0">Tags:</p><span class="m-0 d-inline-block">
  {{ range . }}
  {{ $href := print (absURL "tags/") (urlize .) }}
  <a class="btn btn-sm btn-outline-dark tag-btn" href="{{ $href }}">{{ . }}</a>
  {{ end }}
{{ end }}</span>
  </div>

</div>


