{{ define "main" }}

<div id="home-jumbotron" class="jumbotron text-center">
  <h1>{{ .Site.Title }}</h1>
  <p class="font-125">{{ .Site.Params.homeText | markdownify }}</p>
</div>
<div class="card-deck">
  <div class="card">
    <img class="card-img-top" src="/images/networking.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Networking</h5>
      <p class="card-text">Every organization is unique and their requirement too. When it comes to cloud, finding the simplified solution from the available tons of options enables customers to adapt fast through modularity and dynamically scale in and out in secured manner is the key.</p>
    </div>
    <div class="card-footer">
      <small class="text-muted">Last updated 3 mins ago</small>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="images/cloud.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Cloud Solution</h5>
      <p class="card-text">Key offerings are Full Stack development(using REACT/Angular, HTML5, CSS, Javascript, Typescript, Redis, MySQL, MongoDB, DynamoDB) for web and mobile application which can deployed in AWS, GCP, MS Azure, DigitalOcean or private cloud service providers</p>
    </div>
    <div class="card-footer">
      <small class="text-muted">Last updated 3 mins ago</small>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="images/traning1.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Traning</h5>
      <p class="card-text">Business process with clear rules is the good candidate for automation. while processes that rely on large quantities of data to produce insights or recommendations may be candidates for AI.</p>
    </div>
    <div class="card-footer">
      <small class="text-muted">Last updated 3 mins ago</small>
    </div>
  </div>
</div>



{{ end }}